table{
    border: 1px solid gray;
    width: 100%;
    border-collapse: collapse;  
    font-family: cursive;
}

th{
    font-size: 12px;
}

tr, th, td{
    border: 1px solid gray;
    text-align: center;
}

tr:nth-child(Even){
    background-color: firebrick;
}

tr:nth-child(Odd){
    background-color: aqua;
}