*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(255, 183, 0, 0.3);
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: white;
    padding: 0 40px;
}

nav {
    width: 50%;
}

li{
    color:white
}

ul{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    transition: 0.3s ease;
}






.site_logo{
    height: 110px;
}

#bck-img{
    width: 100%;
    height: 500px;   
    background-image: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/themes/534228/settings_images/edbd68-2da-ddd-47a5-b6f44e477266_juicing-challenge-slider-2880x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#bck-img h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    text-decoration: none;
}

#bck-img button {
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    text-decoration: none;
}

bck-img button:hover {
    background-color: #ff6533;
}

.purple_area{
    width: 100%;
    height: 350px;
    background-color: purple;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    text-align: center;
}


.purple_area h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.purple_area h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: italic;
}

.email-form {
    display: flex;
    gap: 15px;
    
}

.email-form input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    width: 250px;
}

.email-form input::placeholder {
    color: #666;
    font-weight: 600;
}

.email-form button {
    background-color: #ff6b00;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s ease;
    width: 250px;
}

.email-form button:hover {
    background-color: #ff8533;
}

.purple_area a {
    color: white;
    text-decoration: none;
    font-family: "Raleway" sans-serif;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s ease;

}

.purple_area a:hover {
    color: #ff6b00;
}