#unique-p{
    color:red;
}

.div1{
    text-align: center;
    color: blue;
    background-color: black;
}

.div2{
    text-align: center;
    color: blueviolet;
    background-color: black;
}

#div1{
    background-color: red;
}

#div2{
    background-color: aqua;
}