:root{
    --red: red;
    --black: black;
    --font-size: 50px;
    --font-family: cursive;
    --box-shadow: 10px 10px 10px black;
    --border: 3px solid black;
    --border-radius: 12px;
    --margin-bottom: 30px;
    --padding: 16px;
    --position: relative;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
}

button{
    background-color: var(--black);
    color: var(--red);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--padding);
    width: 200px;
}

h1{
    text-align: center;
    font-size: var(--font-size);
    font-family: var(--font-family);
    position: var(--position);
    left: 500px;
    top: 150px;
}

img{
    width: 300px;
    height: 200px;
    box-shadow: var(--box-shadow);
    margin-bottom: var(--margin-bottom);
}