*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 200px;
}

.css{
    font-family: cursive;
    color: #ffffff;
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 16px;
    font-size: 32px;
    animation-name: CSS;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes CSS{
    10%{
        transform: rotate(30deg);
        background-color: cyan;
    }

    50%{
        transform: translatex(700px) rotate(30deg);
    }

    75%{
        background-color: cyan;
    }

    100%{
        transform: translatex(0) rotate(-360deg);
        background-color: green;
    }
}