*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: rgb(45, 45, 45);
}

h1{
    font-family: cursive;
    font-weight: 700;
}


img{
    width: 300px;
    height: 300px;
    border: 1px solid #000000;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

p{
    margin-top: 50px;
    width: 300px;
    text-align: justify;
    margin-bottom: 100px;   
}

@media screen and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
    }
    
    header{
        order: 1;
    }
}