*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    padding: 15px;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: green;
    margin-top: 16px;
}